html, body {
    margin: 0;
    font-family: 'Fira Sans Condensed', sans-serif; color: white; text-shadow: 0 0 30px black;
    background: linear-gradient(95deg, #FAACA8, #DDD6F3); scroll-behavior: smooth;
}

.razdels ul {list-style-type: none;}
.razdels ul li{display: inline; padding: 0 50px; font-size: 25px;}
.razdels ul li img{text-shadow: 0 0 10px black;}
.razdels {position: fixed; background: rgba(0,0,0,0.7); width: 1480px; height: 90px;}
.razdels ul li a{font-style: none; color: white;}

.who_am_i {
    background: linear-gradient(-180deg, #FAACA8, #DDD6F3);
}

.who_am_i, .what_am_doin, .why, .how_comm_me {
    background: rgba(0,0,0,0.5);
    border-radius: 30px;
    height: 500px;
    box-shadow: 0 0 10px black;
    
}

#type0 {
    padding: 20px 50px 20px 50px;
    width: 1249px; height: 350px;
    font-size: 180%; float: center;
}
#type1 {
    padding: 20px 10px 10px 50px;
    width: 750px;
    font-size: 180%; float: left;
}
#type2 {
    padding: 20px 50px 20px 50px;
    width: 750px;
    font-size: 180%; float: right;
}
#type2 h1 {float:right;}
#type2 p {float:right;}

.konets {
    background: rgba(0,0,0,0.9);
    min-height: 200px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.konets p {
    font-size: 50px; padding-right: 10px; 
}